.div-side-section{
  display: flex;
    max-width: 1256px;
    padding: 80px;
    gap: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  
  
  .faq-section{
    background-color: var(--color-gray-2);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
  }
  
  @media(max-width:768px) {
    .faq-section{
      display: block;
    }
  }
  
  
  .aside-left-side{
    display: flex;
    position: sticky;
    top: 10rem;
  }
  
  .container-left{
    width: 620px;
    margin: 15px;
    height: 280px;
    gap: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Inter";
  }
  
  .title-left{
    font-family: "Inter";
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: var(--color-gray-6);
  }
  
  .paragraph-left{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-gray-4);
  }
  
  .button-left{
    width: 266px;
    cursor: pointer;
    height: 60px;
    border: 1px solid var(--color-blue-1);
    background-color: var(--color-blue-1);
    color: var(--color-gray-7);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    font-family: "Inter";
    align-items: center;
  }
  
  .button-left:hover{
    background-color: var(--color-blue-2);
  }
  
  
  .title-right{
    font-family: "Inter";
    font-weight: 600;
    font-size: 32px;
    line-height: 160%;
    color:var(--color-gray-6);
  }
  
  .paragraph-right{
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-gray-4);
  }
  
  .container-right{
    justify-content: center;
    width: 583px;
    height: 968px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    list-style: none;
  }