@import "./reset.css";
@import "./globalStyles.css";

header{
  display: flex;
  padding: 1.25rem 14.75rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-blue-1);
  background-color: var(--color-gray-1);
}

.header-button{
    height: 3.75rem;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 1px solid var(--color-gray-7);
}

.section-banner{
  width: 100%;
  background-color: var(--color-gray-2);
}

.container-banner{
  width: 1730px;
  height: 250px;
  display: flex;
  padding: 250px, 236px, 250px, 236px;
  align-items: center;
  flex-direction: column;
  gap: 44px;
}

.title-banner{
  font-weight: 600;
  font-size: 52px;
  line-height: 140%;
  color:var(--color-gray-6);
}

.span-banner{
  color: var(--color-blue-2);
}

.paragraph-banner{
  color: var(--color-gray-4);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}


.button-banner{
  width: 142px;
  height: 60px;
  background-color: var(--color-blue-1);
  color: var(--color-gray-7);
  border: 1px transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.section-about{
  width: 100%;
  background-color: var(--color-gray-1);
  display: flex;
  flex-direction: row;
}

.title-about{
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
  color: var(--color-gray-6);
}

.paragraph-about{
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color:var(--color-gray-5);
}

.div-about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: var(--color-gray-1);
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-footer{
  width: 178px;
  height: 18px;
  color: var(--color-gray-6);
}